@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    padding-top: 5%;
    color: #484848;
}

input, button, div, h2 {
    font-size: 20px
}
input {
    width: 25vw;
    outline: none;
    border-radius: 7px;
    border-color: grey;
}

div {
    min-height: 30px;
}

h1 {
    font-size: 45px;
    padding-bottom: 25px;
}

form {
    padding-bottom: 15px;
}

button,
button:active,
button:focus {
    outline: none !important;
    padding: 4px;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}
button:hover {
    background-color: green;
    color: white;
}

button {
    background-color: bisque;
}